* {
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
  height: 100vh;
  width: 100vw;
  font-family: 'Ubuntu Mono', monospace;
}

.logo {
  font-family: 'Poiret One', cursive;
  color: #FEFEFE;
  font-size: 2.5rem;
  text-decoration: none;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  background-color: #485460;
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 2;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 35%;
}

nav a {
  color: #FEFEFE;
  font-size: 1.2rem;
  text-decoration: none;
  display: block;
  border-radius: .2em;
  padding: 10px;
  transition: .2s ease-in-out;
}

nav a:hover {
  background-color: #575fcf;
  transition: .2s ease-in-out;
}

.left-panel, .right-panel {
  grid-row-start: 2;
  grid-row-end: 11;
}

.left-panel {
  grid-column-start: 1;
  grid-column-end: 4;
  background-color: #1e272e;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  padding: 30px;
}

.right-panel {
  background-color: #d2dae2;
  grid-column-start: 4;
  grid-column-end: 6;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 33.33% 33.33% 33.33%;
}

/* Home */

.subheading {
  color: #FEFEFE;
  font-size: 3.2rem;
  font-family: 'Ubuntu Mono', monospace;
  margin-bottom: 10px;
}

.subheading.sub-one {
  color: transparent;
  animation: 1s ease-in 0s fade-in;
  animation-fill-mode: forwards;
}

.subheading.sub-two {
  color: transparent;
  animation: 1s ease-in .2s fade-in;
  animation-fill-mode: forwards;
}

.subheading.sub-three {
  color: transparent;
  animation: 1s ease-in .5s fade-in;
  animation-fill-mode: forwards;
}

.thumbnail {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.thumbnail.th-one {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 2;
  background-color: #0fbcf9;
}

.thumbnail.th-two {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 2;
  grid-column-end: 3;
  background-color: #ffc048;
}

.thumbnail.th-three {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 2;
  background-color: #ff5e57;
}

.thumbnail.th-four {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 3;
  background-color: #05c46b;
}

.thumbnail.th-five {
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: 2;
  background-color: #00d8d6;
}

.thumbnail.th-six {
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 2;
  grid-column-end: 3;
  background-color: #ef5777;
}

.thumbnail:hover {
  cursor: pointer;
}

.thumbnail-info {
  margin-top: 12px;
  font-size: 1.2rem;
}

@keyframes fade-in { from { color: transparent; } to { color: #FEFEFE; } }

/* Magic Carpet */

main#magic-carpet-main {
  background-color: #d2dae2;
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 2;
  grid-row-end: 11;
  display: grid;
  grid-template-columns: 10% 20% 20% 20% 20% 10%;
  grid-template-rows: 10% 10% 10% 10% 10% 10% 10% 10% 10%;
}

.vignette {
  display: block;
  background-color: #FEFEFE;
  box-shadow: 4px 4px 20px 0px #808e9b;
}

.vignette.vignette-one {
  grid-row-start: 2;
  grid-row-end: 6;
  grid-column-start: 2;
  grid-column-end: 4;
}

.vignette.vignette-two {
  grid-row-start: 7;
  grid-row-end: 10;
  grid-column-start: 2;
  grid-column-end: 4;
}

/* About */

#about-page-profile-pic {
  grid-row-start: 1;
  width: 400px;
  transform: rotate(-90deg)
}
