* {
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
  min-height: 100vh;
  min-width: 100vw;
  font-family: 'Ubuntu Mono', monospace;
}

.logo {
  font-family: 'Poiret One', cursive;
  color: #FEFEFE;
  font-size: 2.5rem;
  text-decoration: none;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  background-color: #485460;
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 2;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 25%;
}

nav a {
  color: #FEFEFE;
  font-size: 1.2rem;
  text-decoration: none;
  display: block;
  border-radius: .2em;
  padding: 10px;
  transition: .2s ease-in-out;
}

nav a:hover {
  background-color: #575fcf;
  transition: .2s ease-in-out;
}

.left-panel, .right-panel {
  grid-row-start: 2;
  grid-row-end: 10;
}

.left-panel {
  grid-column-start: 1;
  grid-column-end: 4;
  background-color: #1e272e;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  padding: 30px;
}

.right-panel {
  background-color: #d2dae2;
  grid-column-start: 4;
  grid-column-end: 6;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 33.33% 33.33% 33.33%;
}

span.js {
  background-color: #F5DF4F;
  padding: 0 5px;
}

span.css {
  background-color: #3267E9;
  padding: 0 5px;
}

span.html {
  background-color: #E16D3C;
  padding: 0 5px;
  color: #FEFEFE;
}

span.reactjs {
  background-color: #7FD8F7;
  padding: 0 5px;
}

span.elixir {
  background-color: #4C2964;
  color: #FEFEFE;
  padding: 0 5px;
}

span.phoenix {
  background-color: #DF5F36;
  padding: 0 5px;
  color: #FEFEFE;
}

footer {
  grid-row-start: 10;
  grid-row-end: 11;
  background-color: #808e9b;
  grid-column-start: 1;
  grid-column-end: 11;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

footer a {
  text-decoration: none;
  color: #FEFEFE;
  font-size: 1.2rem;
  display: block;
}

footer i {
  color: #FEFEFE;
}

footer a:hover {
  animation: .3s ease-in 0s rainbow-it;
  animation-fill-mode: forwards;
  cursor: pointer;
}

@keyframes rainbow-it { from { color: #FEFEFE } to { color: #0be881 } }

/* Home */

.subheading {
  color: #FEFEFE;
  font-size: 3.2rem;
  font-family: 'Ubuntu Mono', monospace;
  margin-bottom: 35px;
}

.subheading.sub-one {
  color: transparent;
  animation: 1s ease-in 0s fade-in;
  animation-fill-mode: forwards;
}

.subheading.sub-two {
  color: transparent;
  animation: 1s ease-in .2s fade-in;
  animation-fill-mode: forwards;
}

.subheading.sub-three {
  color: transparent;
  animation: 1s ease-in .5s fade-in;
  animation-fill-mode: forwards;
}

.thumbnail {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.thumbnail.th-one {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 2;
  background-color: #0fbcf9;
}

.thumbnail.th-two {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 2;
  grid-column-end: 3;
  background-color: #ffc048;
}

.thumbnail.th-three {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 2;
  background-color: #ff5e57;
}

.thumbnail.th-four {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 3;
  background-color: #05c46b;
}

.thumbnail.th-five {
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: 2;
  background-color: #00d8d6;
}

.thumbnail.th-six {
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 2;
  grid-column-end: 3;
  background-color: #ef5777;
}

.thumbnail:hover {
  cursor: pointer;
}

.thumbnail-info {
  margin-top: 12px;
  font-size: 1.2rem;
}

@keyframes fade-in { from { color: transparent; } to { color: #FEFEFE; } }

h4.subtitle {
  font-family: 'Ubuntu Mono', monospace;
  font-style: italic;
  font-size: .8rem;
  margin-top: 8px;
}

.whoops-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  grid-row-start: 5;
  grid-column-start: 3;
  font-size: 1.3rem;
}

.whoops-container a {
  display: block;
  margin-top: 12px;
}

/* Magic Carpet */

main#magic-carpet-main, main#about-main {
  background-color: #d2dae2;
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 2;
  grid-row-end: 11;
  display: grid;
  grid-template-columns: repeat(20, 5%);
  grid-template-rows: repeat(20, 5%);
}

.vignette {
  display: block;
  background-color: #FEFEFE;
  box-shadow: 4px 4px 20px 0px #808e9b;
  overflow-y: auto;
}

.vignette.vignette-one {
  grid-row-start: 2;
  grid-row-end: 20;
  grid-column-start: 1;
  grid-column-end: 21;
  margin: 12px;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(10, 10%);
  grid-template-rows: repeat(10, 10%);
}

#magic-carpet-main h1, #about-main h1 {
  font-size: 2.2rem;
  margin-bottom: 20px;
}

#magic-carpet-main article, #about-main article {
  font-family: 'Open Sans', sans-serif;
  margin: 20px 20px 0 10px;
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 11;
}

#magic-carpet-main p, #about-main p {
  margin-bottom: 10px;
}

#magic-carpet-main h1, #magic-carpet-main h2, #magic-carpet-main h3, #about-main h1, #about-main h2, #about-main h3 {
  font-family: 'Ubuntu Mono', monospace;
}

#magic-carpet-main h3, #about-main h3 {
  margin: 20px 0 10px;
  padding-left: 8px;
}

#magic-carpet-main h3:nth-of-type(1) {
  border-left: 4px solid #4bcffa;
}

#magic-carpet-main h3:nth-of-type(2) {
  border-left: 4px solid #ff5e57;
}

#magic-carpet-main h3:nth-of-type(3) {
  border-left: 4px solid #05c46b;
}

#magic-carpet-main .image-container, #about-main .image-container {
  grid-column-start: 7;
  width: 450px;
  min-height: 800px;
}

#magic-carpet-main .image-container img {
  max-width: 100%;
  min-width: 100%;
  max-height: 100%;
  min-height: 100%;
}

/* About */

#about-main .image-container img {
  border-radius: 50%;
  height: 400px;
  width: 400px;
}

#about-main .image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#about-main .image-container a {
  margin-top: 20px;
}

#about-main h3:nth-of-type(1) {
  border-left: 4px solid #4bcffa;
}

#about-main h3:nth-of-type(2) {
  border-left: 4px solid #ff5e57;
}

#about-main h3:nth-of-type(3) {
  border-left: 4px solid #05c46b;
}

/* Contact */

#contact-main {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#contact-main .vignette.vignette-one {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#contact-main .vignette.vignette-one * {
  margin-bottom: 20px;
}

/* Medium Width */

@media screen and (max-width: 1100px) {

  #magic-carpet-main .image-container {
    display: none;
  }

  #magic-carpet-main article {
    grid-column-end: 11;
  }
  
  #magic-carpet-main .image-container, #about-main .image-container {
    width: 300px;
    min-height: 270px;
  }

  #about-main .image-container img {
    border-radius: 50%;
    height: 200px;
    width: 200px;
  }
}

/* Small-Width */

@media screen and (max-width: 930px) {

  .left-panel {
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: #1e272e;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
  }
  
  .right-panel {
    background-color: #d2dae2;
    grid-column-start: 3;
    grid-column-end: 6;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 33.33% 33.33% 33.33%;
  }

  nav {
    width: 40%;
  }
}


/* Mobile  */

@media screen and (max-width: 655px) {
  header {
    flex-direction: column;
    justify-content: space-around;
  }

  header * {
    width: 100%;
  }

  .logo {
    margin-bottom: 0;
    margin-top: 12px;
    padding-left: 10px;
  }

  .sub-one {
    font-size: 1.9rem;
    margin-bottom: 0;
  }

  .sub-two, .sub-three {
    display: none;
  }

  .left-panel {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  
  .right-panel {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 3;
    grid-row-end: 10;
  }

  .thumbnail {
    padding: 18px;
  }

  .thumbnail-info {
    font-size: .8rem;
  }

  footer a {
    font-size: .8rem;
  }

  /* About Mobile */

  #magic-carpet-main article, #about-main article {
    margin: 20px 20px 0 10px;
    grid-column-start: 1;
    grid-column-end: 11;
    grid-row-start: 2;
    grid-row-end: 11;
  }

  #magic-carpet-main .image-container, #about-main .image-container {
    grid-column-start: 1;
    grid-column-end: 11;
    grid-row-start: 1;
    grid-row-end: 2;
    width: 300px;
    min-height: 270px;
  }

  #about-main .image-container img {
    border-radius: 50%;
    height: 200px;
    width: 200px;
  }
}

@media screen and (min-width: 655px) and (orientation: landscape) {
  nav {
    width: 40%;
  }
}

@media screen and (min-width: 768px) and (orientation: portrait) {
  nav {
    width: 40%;
  }
}
